@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor-principal: rgb(90, 53, 53);


    --fonte-principal: "Rubik Glitch", system-ui;
    --fonte-secundaria: "Inter", sans-serif;
}